<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">

            <form class="login100-form validate-form flex-sb flex-w" role="form" [formGroup]="loginForm">

                <span class="login100-form-title p-b-51">
                    Inspecciones
                </span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="user" placeholder="Nombre de usuario" formControlName="user">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="password" name="password" placeholder="Password" formControlName="password">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit" (click)="onSave()">
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>