<app-navbar></app-navbar>
<h1 class="login100-form-title p-b-51">Formulario de Registro</h1>
<div class="col text-center">
    <label>Fecha:</label>
    <h4>{{ currentDate | date: "yyyy-MM-dd" }}</h4>
</div>
<hr />

<div class="container">
    <div class="row justify-content-center animated fadeIn faster">
        <div class="col-lg-4">
            <form [formGroup]="validarPlaca">
                <div class="form-group">
                    <label>Ingrese la placa:</label>
                    <input type="text" class="form-control" placeholder="Ingrese una placa" formControlName="placa" />
                </div>
                <hr />
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary rounded-pill" (click)="onValidatePlaca()">
            <i class="fa fa-save"></i>
            Validar
          </button>
                </div>
            </form>
        </div>
    </div>


    <div *ngIf="vehiculo" class="container">
        <div class="row align-items-center form-row row-cols-2">
            <div class="col">
                <h5>Inspección de condición física y mecánica</h5>
            </div>

        </div>

        <div class="row form-row">

            <form class="col-lg-6" [formGroup]="registerForm">
                <div class="row align-items-center form-row mb-1">
                    <div class="col-lg-3">
                        <label for="" class="form-label">PLACA</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="placa" id="placa" class="form-control form-control-sm" formControlName="placa" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label">CARROCERIA</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="carroceria" id="carroceria" class="form-control form-control-sm" formControlName="carroceria" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center form-row mb-1">
                    <div class="col-lg-3">
                        <label for="" class="form-label">ID</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="id" id="id" class="form-control form-control-sm" formControlName="id" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label">COMPONENTE</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="componente" id="componente" class="form-control form-control-sm" formControlName="componente" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center form-row mb-1">
                    <div class="col-lg-3">
                        <label for="" class="form-label">MARCA CHASIS</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="marca_chasis" id="marca_chasis" class="form-control form-control-sm" formControlName="marca_chasis" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label">LÍNEA CHASIS</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="linea_chasis" id="linea_chasis" class="form-control form-control-sm" formControlName="linea_chasis" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center form-row mb-1">
                    <div class="col-lg-3">
                        <label for="" class="form-label">TIPO DE COMBUSTIBLE</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="tipo_combustible" id="tipo_combustible" class="form-control form-control-sm" formControlName="tipo_combustible" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label">N° CHASIS</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="numero_chasis" id="numero_chasis" class="form-control form-control-sm" formControlName="numero_chasis" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center form-row mb-1">
                    <div class="col-lg-3">
                        <label for="" class="form-label">AÑO MODELO</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="anio_modelo" id="anio_modelo" class="form-control form-control-sm" formControlName="anio_modelo" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label">N° MOTOR</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0">
                            <input type="text" name="numero_motor" id="numero_motor" class="form-control form-control-sm" formControlName="numero_motor" />
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-lg-6">
                <h5 class="text-center py-3">MASIVO CAPITAL S.A.S.</h5>
                <div class="row align-items-center form-row mb-1">
                    <div class="col-lg-3">
                        <label for="" class="form-label">KILOMETRAJE</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-0" [formGroup]="registerGeneral">
                            <input type="text" name="" id="" class="form-control form-control-sm" formControlName="kilometraje" />
                        </div>
                    </div>

                </div>
                <div class="row align-items-center form-row mb-1">
                    <div class="col-lg-3">
                        <label for="" class="form-label"># INSPECCION</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group mb-0">
                            <input type="text" name="" id="inspeccion" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <label for="" class="form-label"># Observacion GENERAL</label>
        </div>
        <div class="col-lg-9">
            <div class="form-group mb-0" [formGroup]="registerGeneralObs">
                <input type="text" name="" id="obs" class="form-control form-control-sm" formControlName="observaciones" />
            </div>
        </div>
    </div>
    <hr>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary rounded-pill" (click)="saveRegister()">
<i class="fa fa-save"></i>
Guardar
</button>
    </div>

    <form *ngFor="let item of categorias" class="container" [formGroup]="checkform" (ngSubmit)="onSubmit()" novalidate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">{{item.nombre_categoria}}</th>
                    <th scope="col">Conforme</th>
                    <th scope="col">Observaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actividad of categorias, let i=index">
                    <td scope="row">{{ actividad.nombre_actividad }}</td>
                    <td><input class="form-check-input" type="checkbox"></td>
                    <td>Lorem ipsum dolor sit amet.</td>
                </tr>
            </tbody>
        </table>
    </form>


    <!-- <form [formGroup]="checkform" (ngSubmit)="onSubmit()" novalidate>

        <div *ngFor="let item of data; let i=index">
            <label>
        <input type="checkbox" [value]="item.value" (change)="onChange($event)" />
        {{item.name}}
      </label>
        </div>

        <p class="error" *ngIf="this.checkform.controls['isArray'].errors?.required">
            Checkbox value is required.
        </p>

        <input type="submit" value="Submit">
    </form> -->