<app-navbar></app-navbar>
<h1 class="login100-form-title p-b-51">Registro de Inspecciones</h1>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id vehiculo</th>
                <th scope="col">Id usuario</th>
                <th scope="col">fecha programada</th>
                <th scope="col">kilometraje</th>
                <th scope="col">fecha de inspeccion</th>
                <th scope="col">Observaciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of resultado">
                <th scope="row">{{item.id_vehiculo}}</th>
                <td>{{item.id_usuario}}</td>
                <td>{{item.fecha_programada | date: 'shortDate'}}</td>
                <td>{{item.kilometraje}}</td>
                <td>{{item.fecha_ejecucion_inspeccion | date: 'shortDate'}}</td>
                <td>{{item.observaciones}}</td>
            </tr>
        </tbody>
    </table>
</div>